<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>S3 SQL Backups</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <h1>Backups</h1>
        <button onclick="location.href='/dump'" type="button" class="btn btn-primary">Take backup now ...</button>
        {{- if .Bundles }}
        <h2>Tx Log Bundles</h2>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Total Size</th>
                <th>Base Backup Time</th>
                <th></th>
            </tr>
            {{ range .Bundles }}
            <tr>
                <td>{{ .Key }}</td>
                <td>{{ .Size | toBinary }}</td>
                <td>{{ .Key | toRFC3339 }}</td>
                <td><button onclick="location.href='{{ .Link }}'" type="button" class="btn btn-primary">Download</button></td>
            </tr>
            {{- end }}
        </table>
        {{- end }}
        <hr />
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Created at</th>
                <th>Interval</th>
                <th>Tags</th>
            </tr>
            {{ range .List }}
            <tr>
                <td><a href="{{ .Link }}">{{ .Key }}</a></td>
                <td>{{ .Size | toBinary }}</td>
                <td>{{ .Key | toRFC3339 }}</td>
                <td>
                    {{ if .Daily }}<span class="badge badge-info">Daily</span>{{ end }}
                    {{ if .Weekly }}<span class="badge badge-info">Weekly</span>{{ end }}
                    {{ if .Monthly }}<span class="badge badge-info">Monthly</span>{{ end }}
                </td>
                <td>
                    {{- range $key, $value := .Tags }}
                    <span class="badge badge-info">{{ printf "%s=%s" $key $value }}</span>
                    {{- end }}
                </td>
            </tr>
            {{- end }}
        </table>
    </div>
</body>

</html>